@{
    ViewBag.Title = "emdeme - Пользовательское соглашение";
}

<div class="user-confirm">
    <h1 class="section-user">Пользовательское соглашение</h1>
    <p>
        Информация, размещённая на сайте, не может быть использована как руководство к самолечению. Лекарственные средства, информационные материалы о их применении, исследования опубликованные на сайте, служат лишь для ознакомления и могут быть применены исключительно по рецепту врача и под врачебным наблюдением.
    </p>
    <p>
        Администрация сайта не несет ответственности за возможный ущерб, нанесённый вашему здоровью, самостоятельным лечением.
    </p>
    <p>
        Администрация не гарантирует, что информация на сайте будет соответствовать требованиям посетителя иили информационные материалы иили сервисы, предоставляемые сайтом будут доступны посетителю в любой момент времени, а также материалы, опубликованные на сайте, представлены без гарантии того, что они не могут содержать ошибки.
    </p>
    <p>
        Администрация не несет ответственности за любые возможные последствия, возникшие вследствие использования посетителем информации с данного сайта. Посетитель полностью отвечает за любую неправильную трактовку, которая может возникнуть вследствие просмотра, чтения или копирования материалов, содержащихся на сайте. Зарегистрированные торговые марки, знаки, упоминаемые на сайте, являются собственностью их соответствующих владельцев.
    </p>
    <p>
        Цитирование произведений авторов (статей, публикаций и т.д.) осуществляется на настоящем сайте исключительно в информационных целях. В случае если авторы произведения не согласны с его цитированием (объемом цитирования, отсутствием или некорректным указанием автора произведения) на страницах данного сайта, администрация сайта просит немедленно известить об этом с указанием координат для урегулирования отношений с целью защиты авторских и смежных прав.
    </p>
    <p>
        Администрация сайта имеет право изменять информацию и материалы, опубликованные на сайте, в любое время и без предварительного объявления о таких изменениях.
    </p>
</div>